/* GLOBALS */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: arial;
}

section {
  padding: 0px;
}

p {
  font-size: 12px;
  line-height: 1.5;
  margin: 10px 0;
}

img {
  width: 100%;
  object-fit: cover; /* evita la img se distorsione si se reduce img */
  display: block; /* AYUDA A QUITAR ESE ESPACIO DEMÁS */
}

/* HEADER */
header {
  margin-bottom: 80px;
  padding-top: 20px;
}

/*NAVBAR*/
.navbar {
  display: flexbox;
  float: right;
}

.navbar a {
  font-size: 1em;
  font-family: arial;
  text-decoration: none;
  padding: 0 20px;
  color: #1f3f68;
}

.navbar a:hover {
  border: 5px rgb(42, 129, 201) solid;
}

/* BANNER Y CURVAS */

.banner {
  position: relative;

  height: auto;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 250px;
}

.banner h2 {
  position: absolute;
  padding: 35px;
  top: -15px;
  font-size: 30px;
  line-height: 74px;
  letter-spacing: 0.04em; 
  color: white;
  width: 100%;
  text-align: center;
}

.banner p {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  position: absolute;
  padding: 15px;
  bottom: 5px;
  font-family: Arial;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.78);
}

.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  bottom: 55px;
  left: -15px;
  border: 8px solid rgba(255, 255, 255, 0.6);
}

.circle2 {
  position: absolute;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  bottom: 25px;
  right: -755px;
  top: 55px;
  border: 8px solid rgba(255, 255, 255, 0.6);
}

.circle3 {
  position: absolute;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  bottom: -5px;
  left: 315px;
  border: 8px solid rgba(255, 255, 255, 0.6);
}

.circle4 {
  position: absolute;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  bottom: 25px;
  top: -15px;
  left: 515px;
  border: 8px solid rgba(255, 255, 255, 0.6);
}

.circle5 {
  position: absolute;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  bottom: 55px;
  right: -455px;
  border: 8px solid rgba(255, 255, 255, 0.6);
}

.circlep1 {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  bottom: 15px;
  right: 185px;
  top: 15px;
  left: 65px;
}

.circlep2 {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);

  bottom: 225px;
  right: -200px;
}

.circlep3 {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  right: 500px;
  top: 75px;
}

.circlep4 {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  left: 750px;
  top: 195px;
}

.circlep5 {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  bottom: 155px;
  right: -455px;
}

.curve {
  position: absolute;
  margin-top: 150px;
  width: 400px;
  height: 300px;
  border: 15px solid rgba(255, 255, 255, 0.15);
  display: inline-block;
  border-top-right-radius: 50%;
  transform: rotate(328deg);
  bottom: 25px;
  right: 850px;
}

.curve2 {
  position: absolute;
  margin-top: 150px;
  width: 200px;
  height: 200px;
  border: 15px solid rgba(255, 255, 255, 0.15);
  display: inline-block;
  
  border-radius: 50px 50px 50px 50px;
  transform: rotate(210deg);
  top: -75px;
  left: 500px;
}

.curve3 {
  position: absolute;
  margin-top: 150px;
  width: 200px;
  height: 200px;
  border: 15px solid rgba(255, 255, 255, 0.15);
  display: inline-block;
  border-top-right-radius: 50%;
  transform: rotate(550deg);
  top: -115px;
  left: 1750px;
}

.circulo {
  position: absolute;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #316099;
  border: 1px solid black;

  float: left;
}

.circulo2 {
  position: relative;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #316099;
  float: left;
  right: -1.5%;

  font-family: Gilroy;
  font-size: 20px;
  line-height: 20px;

  color: #316099;
  text-align: center;
}


/* GRID MAIN */
.grid-main {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  align-items: stretch;
}

h2 {
  font-size: 14px;
  color: #356ead;
  margin: 20px;
}

.grid-main h2 {
  font-size: 14px;
  color: #356ead;
  margin-bottom: 10px;
}

.grid-main h3 {
  font-size: 22px;
  color: #1f3f68;
  margin-bottom: 10px;
}
.grid-main img {
  display: block;
  object-fit: cover;
}

/* SEARCH */

.search {
  position: relative;
}

.search img {
  position: absolute;
  width: 17.49px;
  bottom: 15px;
  left: 20px;
}

input {
  max-width: 100%;
  text-align: center;
  width: 940px;
  height: 45px;
  background: #f4f4f4;
  border-radius: 10px;
}


/* POPULAR */
.wrapper {
  max-width: 940px;
  margin: auto;
}

.grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
 }

.popular .main-post {
  margin-bottom: 20px;
}
.main-post {
  margin-bottom: 20px;
}

.main-post img {
  height: 200px;
}

.popular h2 {
  font-size: 14px;
  color: #356ead;
  margin-bottom: 10px;
}

.popular h3 {
  font-size: 22px;
  color: #1f3f68;
  margin-bottom: 10px;
}
.popular .main-post img {
  margin-bottom: 10px;
}



/* ALL */
.all {
  margin-top: 20px;
}
.all img {
  width: auto;
  margin: 0;
}

.all .popular {
  display: flex;
  margin-bottom: 20px;
}

.all .popular div {
  padding: 20px;
}






/*FOOTER*/

footer {
  background-color: #316099;
  width: 94%;
  border-top-right-radius: 10rem;
  color: #fff;
}

footer .container-footer {
  max-width: 85%;
  margin-left: 8rem;
  padding-bottom: 1rem;
}

.work-with-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 4rem 0; */
}

.work-with-us a {
  margin-right: 10rem;
  background-color: #5A98D0;
  border-radius: 10px;
  padding: .6rem 2rem;
  color: #ffffff;
}

.work-info {
  max-width: 50%;
}

.work-info h2 {
  padding: 2rem 0;
  letter-spacing: 0.05em;
  font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: white;
}

.contact-navegation {
  display: flex;
  justify-content: space-between;
}

.contact-navegation h4 {
  padding: .8rem 0;
}

.logo-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-footer .back-f {
  background: #98C3E8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.logo-footer .front-f {
  background: #fff;
  border: 3px solid #316099;
  margin-left: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
}

.logo-footer span {
  color: #316099;
  font-weight: bold;
  position: absolute;
  top: 5px;
  font-size: 1.7rem;
  left: 7px;
}

.contact-navegation li {
  list-style: none;
}

.contact-navegation li,
.contact-navegation p {
  line-height: 1.5;
}

.info {
  display: flex;
  width: 65%;
  height:auto;
  background: #316099;
  border-top-right-radius: 200px;
  padding: 10px;
  
}

.info h2 {

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: white;
  margin: 40px;
}

.info p {
  max-width: 100%;
  color: white;
  
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  text-align: left;
  margin: 40px;
}

.button {
  
  position:  absolute;
  display: block;
 
  top: 43.75%;
  width: 120px;
  border: none;
  text-align: center;
  background: #5a98d0;
  border-radius: 10px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
  max-width: 100%;
  white-space: nowrap;
}

hr {
  background-color: rgba(255, 255, 255, 0.6);

  position: relative;
  color: red;

  width: 65%;
  height: 1px;
  padding: 0;

}

.info2{
  width: 65%;
  position: absolute;
  background: #316099;
 
  max-width: 100%;
  padding: 10px;
}



.info2 h2 {

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: white;
  margin: 20px;
}

.info2 p {
  color: white;

  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  text-align: left;
  margin: 20px;
} 